<div style="text-align: right">INFO 6210 Data Management and Database Design, Final Project</div>
<div style="text-align: right">Jobs DB - Group : db.geeks </div>
<div style="text-align: right">Sajida Mohammad, Reddem Pavan Kumar Reddy </div>
<div style="text-align: right">{mohammad.sa, pavankumarreddy.r } @husky.neu.edu</div>

### JOBS DB Project
### Finance domain
#### Author: Sajida Mohammad, Pavan Kumar Reddy Reddem

## Usecases

#### UseCase 1 - Select company with most job postings

SELECT B.COMPANY_NAME, COUNT(A.JOB_LOCATION) AS POSITION_COUNT FROM JOBS_TBL A JOIN COMPANY_TBL B
ON A.COMPANY_ID = B.COMPANY_ID
WHERE A.JOB_LOCATION IS NOT NULL
GROUP BY B.COMPANY_NAME
ORDER BY 2 DESC
FETCH NEXT 1 ROWS ONLY;

#### UseCase 2 - Get a List of 'Software Engineering' Jobs

SELECT A.JOB_POSITION AS JOBS FROM JOBS_TBL A WHERE  A.JOB_POSITION LIKE '%Software%';

#### UseCase 3 - Get a List of  most recent postings Jobs
SELECT JOB_POSITION FROM JOBS_TBL WHERE TO_DATE(POSTED_DATE, 'mm/dd/yyyy') > '21-MAR-2019';

#### UseCase 4 - Get a list of all the internships 

SELECT JOB_POSITION FROM JOBS_TBL WHERE JOB_POSITION LIKE '%Intern%';

#### UseCase 5 - Get a list of all the companies with remote jobs

SELECT B.COMPANY_NAME, A.JOB_POSITION FROM JOBS_TBL A JOIN
COMPANY_TBL B ON 
A.COMPANY_ID = B.COMPANY_ID
WHERE A.JOB_LOCATION LIKE '%Remote%';

#### UseCase 6 - Get the name of the company with more data related jobs

SELECT B.COMPANY_NAME, COUNT(A.JOB_POSITION) AS POSITION_COUNT FROM JOBS_TBL A JOIN COMPANY_TBL B
ON A.COMPANY_ID = B.COMPANY_ID
WHERE LOWER(A.JOB_POSITION) LIKE '%data%'
GROUP BY B.COMPANY_NAME
ORDER BY 2 DESC
FETCH NEXT 1 ROWS ONLY;

#### UseCase 7 - Get the name of the company which is active on twitter, the company with most tweets

SELECT B.COMPANY_NAME, COUNT(A.TWEET_ID) AS TWEET_COUNT FROM TWEETS_TBL A JOIN COMPANY_TBL B
ON A.COMPANY_ID = B.COMPANY_ID
GROUP BY B.COMPANY_NAME
ORDER BY 2 DESC
FETCH NEXT 1 ROWS ONLY;

#### UseCase 8 - Get the AVERAGE rating_culture of the companies 

SELECT A.COMPANY_NAME, ROUND(AVG(B.RATING_CULTURE),2) FROM COMPANY_TBL A
    JOIN GLASSDOOR_RATINGS B
    ON A.COMPANY_ID = B.COMPANY_ID
    GROUP BY A.COMPANY_NAME
    ORDER BY 2 DESC;

#### UseCase 9 - Get the names of the companies with the most youtube video views

SELECT A.COMPANY_NAME, CAST(MAX(B.VIEW_COUNT) AS INT) FROM COMPANY_TBL A
JOIN YOUTUBE_VIDEO_DATA B
ON A.COMPANY_ID = B.COMPANY_ID
GROUP BY A.COMPANY_NAME
ORDER BY 2 DESC
FETCH NEXT 10 ROWS ONLY
;

#### UseCase 10 - Get the name of the company with more video likes

SELECT A.COMPANY_NAME, CAST(MAX(B.LIKE_COUNT) AS INT) FROM COMPANY_TBL A
JOIN YOUTUBE_VIDEO_DATA B
ON A.COMPANY_ID = B.COMPANY_ID
GROUP BY A.COMPANY_NAME
ORDER BY 2 DESC
FETCH NEXT 1 ROWS ONLY
;

## FUNCTIONS

#### Function 1 - Get the name of the company given COMPANY_ID
CREATE OR REPLACE FUNCTION GET_COMPANY_NAME 
(
  COMPANY_ID_IN IN VARCHAR2 
, COMPANY_NAME_OUT OUT VARCHAR2 
) RETURN VARCHAR2 AS 
BEGIN
  SELECT COMPANY_NAME INTO COMPANY_NAME_OUT FROM COMPANY_TBL WHERE COMPANY_ID  = COMPANY_ID_IN  ;
  RETURN COMPANY_NAME_OUT;
END GET_COMPANY_NAME;

#### Function 2 - Get the count of user followers given user_id - ex - 798908432

CREATE OR REPLACE FUNCTION GET_USER_FOLLOWERS 
(
  USER_ID_INPUT IN VARCHAR2 
, USER_FOLLOWERS_OUTPUT OUT VARCHAR2 
) RETURN VARCHAR2 AS 
BEGIN
  SELECT USER_FOLLOWERS INTO USER_FOLLOWERS_OUTPUT FROM TWITTER_USER_DATA_TBL WHERE USER_ID = USER_ID_INPUT;
  RETURN USER_FOLLOWERS_OUTPUT;
END GET_USER_FOLLOWERS;

#### Function 3 - Get the position name given the JOB_ID

CREATE OR REPLACE FUNCTION GET_POSITION_NAME 
(
  JOB_ID_IN IN VARCHAR2 
, JOB_POSITION_OUT OUT VARCHAR2 
) RETURN VARCHAR2 AS 
BEGIN
  SELECT JOB_POSITION INTO JOB_POSITION_OUT FROM JOBS_TBL WHERE JOB_ID = JOB_ID_IN;
  RETURN JOB_POSITION_OUT;
END GET_POSITION_NAME;

#### Function 4 - Get the url of the job given job_id

CREATE OR REPLACE FUNCTION GET_URL 
(
  JOB_ID_IN IN VARCHAR2 
, JOB_URL_OUT OUT VARCHAR2 
) RETURN VARCHAR2 AS 
BEGIN
  SELECT JOB_URL INTO JOB_URL_OUT FROM JOBS_TBL WHERE JOB_ID = JOB_ID_IN;
  RETURN JOB_URL_OUT;
END GET_URL;

## VIEWS

#### View 1 - Get the TOP 10 rated companies and their average glass door ratings

CREATE VIEW TOP_RATED_COMPANIES AS 
    SELECT A.COMPANY_NAME, ROUND(AVG(B.RATING_OVERALL),2) FROM COMPANY_TBL A
    JOIN GLASSDOOR_RATINGS B
    ON A.COMPANY_ID = B.COMPANY_ID
    GROUP BY A.COMPANY_NAME
    ORDER BY 2 DESC
    FETCH NEXT 10 ROWS ONLY;

#### View 2 - Get the company and their glass door pros - BOFA

CREATE VIEW PROS_BOFA AS
    SELECT A.COMPANY_NAME, B.PROS FROM COMPANY_TBL A
    JOIN GLASSDOOR_REVIEWS B
    ON A.COMPANY_ID = B.COMPANY_ID
    AND A.COMPANY_NAME = 'Bank Of America';

#### View 3 - Get the TOP 3 company with more reviews
CREATE VIEW GET_TOP3_REVIEWS AS
    SELECT A.COMPANY_NAME, COUNT(B.REVIEW_ID) FROM COMPANY_TBL A
    JOIN GLASSDOOR_REVIEWS B
    ON A.COMPANY_ID = B.COMPANY_ID
    GROUP BY A.COMPANY_NAME
    ORDER BY 2 DESC
    FETCH NEXT 3 ROWS ONLY;

#### View 4 - Get the company and their glass door ratings

CREATE VIEW GET_TOP3_MGMT AS
    SELECT A.COMPANY_NAME, ROUND(AVG(B.RATING_MGMT),2) FROM COMPANY_TBL A
    JOIN GLASSDOOR_RATINGS B
    ON A.COMPANY_ID = B.COMPANY_ID
    GROUP BY A.COMPANY_NAME
    ORDER BY 2 DESC
    FETCH NEXT 3 ROWS ONLY
;